<%- include('./head.ejs') %>
  
<form action="/add-todo" method="POST">
  <div class="form-group">
      <label for="todo">Write What To Do and Click Save</label>
      <input class="form-control" type="text" name="todo">
  </div>  
  <button class="btn btn-primary float-right" type="submit">Save</button>  
</form>             
    </div>
  </body>
</html>